*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas{
    height: 100vh !important;

    /* cursor: grab; */
}
body{
    background-color: black;
    

}
.selector{
    height: 250px;
    position: absolute;
    
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}